.course-intro {
  width: 100%;
  position: relative;
  background-color: #141d2c;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 800px) {
  .course-intro {
    gap: 18px;
  }
}
