.frame-child3 {
  height: 275px;
  width: 1280px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #1a2332;
  display: none;
  max-width: 100%;
}
.courses14,
.search-for-any1 {
  margin: 0;
  position: relative;
  z-index: 1;
}
.courses14 {
  font-size: inherit;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.search-for-any1 {
  align-self: stretch;
  font-size: 25px;
  font-weight: 400;
  font-family: Roboto;
}
.courses-group,
.frame-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.courses-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: 22px;
}
.frame-wrapper6 {
  width: 416px;
  justify-content: flex-end;
  padding: 0 0 22px;
  box-sizing: border-box;
  min-width: 416px;
  max-width: 100%;
}
.sort-options-icon {
  align-self: stretch;
  width: 179px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 204px;
  z-index: 1;
}
.difficulty-dropdown-child {
  height: 59px;
  width: 643px;
  position: absolute;
  margin: 0 !important;
  right: -216.5px;
  bottom: 64px;
  filter: blur(304px);
  border-radius: 50%;
  background-color: rgba(107, 158, 236, 0.7);
}
.difficulty-levels-icon {
  height: 204px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.difficulty-dropdown {
  width: 217.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.sort-options-icon1 {
  align-self: stretch;
  width: 173.5px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 204px;
  z-index: 1;
}
.sort-options-parent {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
  gap: 49px;
  min-width: 669.5px;
  z-index: 1;
}
.courses-inner,
.frame-wrapper5,
.rectangle-container,
.sort-options-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-container {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #1a2332;
  align-items: flex-end;
  justify-content: space-between;
  padding: 31px 31.5px 40px 77px;
  gap: 20px;
}
.courses-inner,
.frame-wrapper5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  flex: 1;
  padding: 10px;
  text-align: left;
  font-size: 70px;
  color: #fff;
  font-family: Outfit;
}
.courses-inner {
  align-self: stretch;
  padding: 0 70px;
}
@media screen and (max-width: 1350px) {
  .frame-wrapper6 {
    flex: 1;
  }
  .sort-options-parent {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .rectangle-container {
    flex-wrap: wrap;
    padding-left: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .sort-options-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .courses14 {
    font-size: 56px;
    line-height: 56px;
  }
  .frame-wrapper6 {
    min-width: 100%;
  }
  .sort-options-parent {
    flex-wrap: wrap;
    gap: 24px;
  }
  .courses-inner {
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .courses14 {
    font-size: 42px;
    line-height: 42px;
  }
  .search-for-any1 {
    font-size: 20px;
  }
}
