.network-security5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.network-security-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0 0;
  font-size: 25px;
  color: #000;
  font-family: Outfit;
}
.lorem-ipsum-dolor5 {
  width: 244.4px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  max-height: 72px;
  word-break: break-word;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.person-fill1-wght400-grad0-ops-icon5 {
  height: 18px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.cyberskills12 {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.cyberskills-wrapper2,
.person-fill1-wght400-grad0-ops-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.person-fill1-wght400-grad0-ops-parent3 {
  gap: 6px;
}
.difficulty5,
.medium3 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.medium3 {
  font-weight: 600;
  min-width: 55px;
}
.difficulty-parent2,
.medium-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.medium-frame {
  border-radius: 5px;
  background-color: rgba(255, 175, 0, 0.18);
  justify-content: center;
  padding: 3px;
  color: #ffaf00;
}
.difficulty-parent2 {
  justify-content: flex-start;
}
.added2 {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Outfit;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 76px;
}
.continuebutton5 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #9fa5aa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.5px 20px;
}
.card15,
.continuebutton-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.continuebutton-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
}
.card15 {
  width: 299px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #fff;
  padding: 12px 19px 22px;
  box-sizing: border-box;
  gap: 10px;
}
.network-security6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.network-security-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0 0;
  font-size: 25px;
  color: #000;
  font-family: Outfit;
}
.lorem-ipsum-dolor6 {
  width: 244.4px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  flex-shrink: 0;
  max-height: 72px;
  word-break: break-word;
}
.lorem-ipsum-dolor-sit-amet-co-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.person-fill1-wght400-grad0-ops-icon6 {
  height: 18px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 18px;
}
.cyberskills13 {
  position: relative;
  display: inline-block;
  min-width: 73px;
}
.cyber-skills-person,
.cyberskills-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cyber-skills-person {
  gap: 6px;
}
.difficulty6,
.easy5 {
  position: relative;
  display: inline-block;
  min-width: 67px;
}
.easy5 {
  font-size: 15px;
  font-weight: 600;
  font-family: Roboto;
  color: #47ed2b;
  text-align: left;
  min-width: 32px;
}
.easy-wrapper1 {
  border-radius: 5px;
  background-color: rgba(142, 255, 123, 0.55);
  justify-content: center;
  padding: 3px;
}
.difficulty-parent3,
.easy-label,
.easy-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.easy-label {
  cursor: pointer;
  border: 0;
  padding: 3px;
  background-color: transparent;
  border-radius: 5px;
  justify-content: center;
}
.difficulty-parent3 {
  justify-content: flex-start;
}
.added3 {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Outfit;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 76px;
}
.continuebutton6 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #9fa5aa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.5px 20px;
}
.card16,
.continuebutton-wrapper2,
.homes-container,
.homes2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.continuebutton-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: column;
}
.card16,
.homes-container,
.homes2 {
  box-sizing: border-box;
}
.card16 {
  width: 299px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #fff;
  flex-direction: column;
  padding: 12px 19px 16px;
  gap: 10px;
}
.homes-container,
.homes2 {
  flex-direction: row;
}
.homes2 {
  align-self: stretch;
  width: 1280px;
  flex-wrap: wrap;
  padding: 0 24px 0 0;
  gap: 20px;
  max-width: 1280px;
}
.homes-container {
  height: 564px;
  padding: 0 80px;
  max-width: 100%;
  text-align: left;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  font-family: Roboto;
}
@media screen and (max-width: 1350px) {
  .homes2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .homes-container {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .network-security5 {
    font-size: 20px;
  }
  .added2 {
    font-size: 16px;
  }
  .network-security6 {
    font-size: 20px;
  }
  .added3 {
    font-size: 16px;
  }
}
