.courses16,
.courses16:hover {
  font-family: Outfit;
  cursor: pointer;
}
.courses16 {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 71px;
}
.courses16:hover {
  font-weight: 600;
}
