.image-6-icon1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.017);
}
.wrapper-image-61 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.welcomeheader1 {
  margin: 0;
  align-self: stretch;
  height: 172px;
  font-size: 80px;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.start-now1,
.welcomeheader1,
.welcomesubtext1 {
  position: relative;
  display: inline-block;
}
.welcomesubtext1 {
  width: 783px;
  font-family: Roboto;
  max-width: 100%;
}
.start-now1 {
  height: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
}
.startbutton1 {
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #47dd00, #88da03);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  white-space: nowrap;
  color: inherit;
}
.startbutton1:hover {
  mix-blend-mode: normal;
  box-shadow: 0 4px 4px 3px rgba(0, 0, 0, 0.5);
}
.herocontainer1,
.herocontent1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.herocontent1 {
  width: 1175px;
  margin: 0 !important;
  top: 187px;
  left: 133px;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  gap: 37px;
  z-index: 1;
}
.herocontainer1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  gap: 10px;
}
.nav-bar-container {
  align-self: stretch;
  height: 717px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: Outfit;
}
@media screen and (max-width: 750px) {
  .welcomeheader1 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media screen and (max-width: 450px) {
  .welcomeheader1 {
    font-size: 24px;
    line-height: 32px;
  }
  .welcomesubtext1 {
    font-size: 20px;
  }
  .startbutton1 {
    width: calc(100% - 40px);
  }
}
