.cyberskills14 {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: inherit;
    white-space: nowrap;
  }
  .about-us13:hover,
  .courses15:hover,
  .cyberskills14:hover,
  .dashboard14:hover {
    cursor: pointer;
  }
  .logo12,
  .logo13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .logo12 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .courses15,
  .dashboard14 {
    text-decoration: none;
    color: inherit;
  }
  .dashboard14 {
    width: 100px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    max-height: 25px;
  }
  .courses15 {
    width: 80px;
    min-width: 80px;
  }
  .about-us13,
  .courses15,
  .login9 {
    position: relative;
    display: inline-block;
  }
  .about-us13 {
    text-decoration: none;
    width: 83px;
    color: inherit;
    min-width: 83px;
    white-space: nowrap;
  }
  .login9 {
    letter-spacing: 0.05em;
    font-weight: 600;
    min-width: 56px;
  }
  .loginbutton3 {
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    background-color: #3384ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 6px;
    color: inherit;
  }
  .loginbutton3:hover {
    background-color: #4d9eff;
  }
  .navlinks7,
  .navlinkscontainer7 {
    flex-direction: row;
    max-width: 100%;
  }
  .navlinks7 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .navlinkscontainer7 {
    width: 689px;
    justify-content: flex-start;
    text-align: center;
    font-size: 20px;
  }
  .navbar-content7,
  .navbar7,
  .navlinkscontainer7 {
    display: flex;
    align-items: center;
  }
  .navbar-content7 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    gap: 20px;
  }
  .navbar7 {
    align-self: stretch;
    background-color: #141d2c;
    border-bottom: 1px solid #e8ecf2;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 80px 18px;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-family: Outfit;
  }
  @media screen and (max-width: 1275px) {
    .navbar-content7 {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 1100px) {
    .navlinks7 {
      display: none;
    }
    .navlinkscontainer7 {
      width: 0;
    }
  }
  @media screen and (max-width: 750px) {
    .navlinks7 {
      display: none;
    }
    .navlinkscontainer7 {
      width: 0;
      gap: 35px;
    }
    .navbar7 {
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .navlinkscontainer7 {
      gap: 17px;
    }
  }
  