.role-select,
.filter-search,
.university-select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.role-select {
  height: 52px;
  width: 227px;
  border-radius: 73px;
  background-color: #202d42;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
.filter-search,
.university-select {
  max-width: 100%;
}
.university-select {
  height: 52px;
  flex: 1;
  border-radius: 73px;
  background-color: #202d42;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  min-width: 231px;
}
.filter-search {
  width: 621px;
  flex-wrap: wrap;
  gap: 39px;
}
.search-input-box {
  height: 54px;
  width: 1280px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #212e3e;
  display: none;
  max-width: 100%;
}
.search-icon {
  height: 32.2px;
  width: 32.2px;
  position: relative;
}
.search-icon-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  box-sizing: border-box;
  height: 42.2px;
  width: 42.2px;
  z-index: 1;
}
.search-placeholder {
  border: 0;
  outline: 0;
  font-family: Roboto;
  font-size: 25px;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  color: #9eb1d1;
  text-align: left;
  display: inline-block;
  min-width: 250px;
  padding: 0;
  z-index: 1;
}
.search-placeholder-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 7px 0 0;
  box-sizing: border-box;
  min-width: 775px;
}
.search-container,
.search-input-box-parent,
.search-placeholder-wrapper,
.search-users-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-input-box-parent {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #212e3e;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 6px 6.8px 27px;
  box-sizing: border-box;
  gap: 12.8px;
}
.search-container,
.search-users-input {
  align-self: stretch;
}
.search-users-input {
  flex-direction: row;
  padding: 10px 0;
  box-sizing: border-box;
}
.search-container {
  flex-direction: column;
  gap: 11px;
}
.avatar-icon1 {
  height: 53px;
  width: 53px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.user-avatar {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.user-email,
.user-role,
.user-university {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.user-email {
  width: 315px;
  white-space: nowrap;
}
.user-role,
.user-university {
  width: 124px;
}
.user-university {
  width: 211px;
}
.reset-password-button-text {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 108px;
}
.reset-password-button {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #9fa5aa;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.reset-password-button:hover {
  background-color: #6b7378;
}
.view-profile-button-text {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 80px;
}
.view-profile-button {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #0086ff;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.view-profile-button:hover {
  background-color: #1aa1ff;
}
.delete-user-button-text {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 43px;
}
.delete-user-button,
.user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete-user-button {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #dc3545;
  border-radius: 8px;
  justify-content: center;
}
.delete-user-button:hover {
  background-color: #f54f5e;
}
.user-row {
  width: 1280px;
  border-bottom: 1px solid rgba(112, 125, 152, 0.4);
  box-sizing: border-box;
  overflow-x: auto;
  justify-content: space-between;
  padding: 13px 61px 11px;
  gap: 20px;
}

.admin-search-table,
.user-search-main {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.admin-search-table {
  border-radius: 5px;
  background-color: #212e3e;
  overflow-x: auto;
  gap: 10px;
}
.user-search-main {
  gap: 24px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}
.show-more-text {
  position: relative;
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  font-family: Roboto;
  color: #0086ff;
  text-align: center;
  display: inline-block;
  min-width: 85px;
}
.show-more-button,
.show-more-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.show-more-button {
  cursor: pointer;
  border: 1px solid #0086ff;
  padding: 9px 29px;
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.show-more-button:hover {
  background-color: rgba(26, 161, 255, 0.09);
  border: 1px solid #1aa1ff;
  box-sizing: border-box;
}
.show-more-button-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
